﻿@{
    ViewBag.Title = "Home Page";
}

<ul class="nav nav-pills">
    <li>
        <a href="@Url.Action("Index", "People1")">Straight Razor</a>
        <a href="@Url.Action("Index", "People3")">Knockout</a>
    </li>
</ul>