﻿@model DataBindingPatterns.ViewModels.PersonEditRazorViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>


<p>
    Notes
    <ul>
        <li>There are a numerous methods for creating the editor template.</li>
        <li>Have to use hidden field or other means for disabled controls.</li>
    </ul>
</p>

@using (@Html.BeginForm())
{
    <div class="alert alert-warning">
        @Html.ValidationSummary("Errors")
    </div>

    <div class="form-group">
        <label>ID</label>
        @Html.HiddenFor(x => x.PersonId)
        @Html.TextBoxFor(x => x.PersonId, new { @class = "form-control", disabled = "disabled" })
    </div>

    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Favorite Food</label>
        @Html.DropDownListFor(x => x.FavoriteFood, Model.Foods, new { @class = "form-control"})
    </div>

    <input type="submit" value="Submit" />
}

