﻿@model IEnumerable<DataBindingPatterns.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "People - Razor";
}

<h1>People - Razor</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Favorite Food</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td><a href="@Url.Action("Edit", new { id = person.PersonId})" class="btn btn-default">Edit</a></td>
                <td>@person.FullName</td>
                <td>@person.FavoriteFood</td>
            </tr>
        }
    </tbody>
</table>
