﻿@model IEnumerable<DataBindingPatterns.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "People - Knockout";
}

@section scripts
{
    <script>
        var ns = ns || {};

        ns.index = (function() {

            var ViewModel = function(people) {
                this.people = ko.observableArray(people);
            }

            var vm;

            return {
                init: function(people) {
                    vm = new ViewModel(people);
                    ko.applyBindings(vm);
                }
            }
        })();

        $(document).ready(function() {
            var people = @Html.Raw(Json.Encode(Model));
            ns.index.init(people);
        });

    </script>
}

<h1>People Knockout</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Favorite Food</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: people">
        <tr>
            <td data-bind="text: FullName"></td>
            <td data-bind="text: FavoriteFood"></td>
        </tr>
    </tbody>
</table>


